.menu-item a {
    font-weight: 100;
    text-decoration: none;
    color: white;
    text-align: center;
}

body {

    max-width: 100%;
    background: url('img/background.jpg') no-repeat center;
    background-size: cover;
    height: 100wh;
    color: #fff;
    background-color: black;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 2%;
    margin-bottom: 4%;
}

.menu-list {
    margin-right: 5%;
    display: flex;
    list-style-type: none;
}
.menu-item:not(:last-child){
    margin-right: 30%;
}

.main-text {
    font-weight: 500;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .menu-item{
        width 10%;
        max-width: 10%;
        margin: auto auto;
    }
}

@media screen and (max-width: 480px) {
 .menu-item {
   width: 15%;
 }
}

.main {
    width: 90%;

}

.info {
    margin-right: 30%;
    font-size: 800;
    text-decoration: none;
    color: white;
    width: 50%;
    margin-left: 20%;
    position: relative;
}

.button-read-more {
    all: unset;
    padding: 22px 55px;
    background-color: darkblue;
    line-height: 100%;
    margin-left: 40%;
    margin-right: 40%;
    margin-bottom: 5%;
    transition: all 0.8s ease 0s;
}
.button-read-more:hover {
    background-color: darkslateblue;
}

.logo {
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 6%;
    margin-bottom: 10%;
    position: relative;
}

.photo-pc {
    float: left;
    margin-left: 20%;
    margin-top: 0%;
    margin-bottom: 5%;
    padding-right: 5%;
}
